.table{
  width: 100%;
  table-layout: auto;

  &__cell{
    &:not(:last-child){
      padding-right: 3.1rem;
      border-color: transparent;
    }
  }

  &__header{
    .table__cell{
      white-space: nowrap;
    }
    span{
      white-space: nowrap;
    }
  }

  &__row{
    .table__cell {
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
      border-bottom: 1px solid var(--line);
    }
    &:last-child{
      .table__cell{
        border-color: transparent;
        padding-bottom: 0;
      }
    }
  }

  &__cell{
    max-width:100%;
    width: 1px;
    box-sizing: border-box;
    white-space:nowrap;
  }

  .align-right{
    text-align: right;
  }
  .align-center{
    text-align: center;
  }
  .fit-content{
    width: auto;
    white-space: nowrap;
  }
}