.trade{
  &__content{
    padding: 2rem;
  }
}

.trade-pair{
  &__change-btn{
    margin-top: -.25rem;
    margin-left: .5rem;
    padding: .5rem .5rem;
    svg{
      width: 2rem;
      height: 1.4rem;
      fill: var(--font-disabled);
      transition: var(--qSpeed);
    }
    &:hover{
      svg{
        fill: var(--brand);
      }
    }
  }
}

.trade-history{
    .table__row .table__cell{
      padding-top: .4rem;
      padding-bottom: .4rem;
      border-color: transparent;
      &:not(:last-child){
        padding-right: 1rem;
      }
    }
}
